*,::before,::after{
  box-sizing: border-box;
}
/*Custom properties*/
:root{
  --font-primary:'Source Sans Pro', sans-serif;
  --font-secondary:'Sono', sans-serif;
  --fw-reg:300;
  --fw-bold:900;
  --fw-light:200;

  --color-bg:#fff;
  --color-txt:#303030;
  --color-accent:#22A7F0;

  --fs-h1:3rem;
  --fs-h2:2.5rem;
  --fs-h3:1.25rem;
  --fs-body:1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25)
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px){
  :root{
    --fs-h1:4.5rem;
    --fs-h2:3.75rem;
    --fs-h3:1.5rem;
    --fs-body:1.125rem;
  }
}

/*General Styles*/

html{
  scroll-behavior: smooth;
}

body{
  background:var(--color-bg);
  color:var(--color-txt);
  margin:0;
  font-family:var(--font-primary);
  font-size:var(--fs-body);
  line-height:1.6;
}

section{
  padding: 5em 2em;
}

.intro-image{
  box-shadow: var(--bs);
}

.section-subtitle-intro{
  display: inline-block;
}

img{
  display:block;
  max-width:100%;
}

strong{
  font-weight: var(--fw-bold);
}

.button-cv{
  display:inline-block;
  padding: .5em 1.5em;
  background: var(--color-accent);
  color: var(--color-txt);
  text-decoration: none;
  cursor: pointer;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  margin: 0 auto;
}

.button-cv:hover{
  transform: scale(1.1);
}

:focus{
  outline: 3px solid var(--color-accent);
  outline-offset: 3px;
}

/*Typography*/
#title-p{
  font-weight: var(--fw-reg:300);
}

h1,h1,h3{
  line-height:1;
  margin:0;
}

h1{
  font-size: var(--fs-h1);
}
h2{
  font-size: var(--fs-h2);
}
h3{
  font-size: var(--fs-h3);
}

.section-title{
  margin-bottom: .25em;

}

.section-title-intro{
  font-weight: var(--fw-reg);
}

.section-title-intro strong {
  display:block;
}

.section-subtitle{
  margin:0;
  font-size:var(--fs-h3);
}

.section-subtitle-intro, .section-subtitle-aboutme{
  background:var(--color-accent);
  padding: .25em 1em;
  font-family:var(--font-secondary);
  margin-bottom: 1em;
}

/* Header */

.logo{
  max-width:200px;

}
header{
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.nav{
  position: fixed;
  background: var(--color-txt);
  color: var(--color-bg);
  top:0;
  bottom:0;
  right: 0;
  left:0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav-list{
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin:0;
  padding:0;
}

.nav-link{
  color: inherit;
  font-weight: var(--fw-bold);
  font-size:var(--fs-h2);
  text-decoration: none;
}

.nav-link:hover{
  color: var(--color-accent);
}

.nav-toggle{
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top:1em;
  z-index: 1000;
}

.nav-open .nav{
  transform: translateX(0);
}

.nav-open .nav-toggle{
  position: fixed;
}

.nav-open .hamburger{
  transform: rotate(.625turn);
}

.nav-open .hamburger::before{
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after{
  opacity: 0;
}

.hamburger{
  background: var(--color-txt);
  width:2em;
  height: 3px;
  border-radius: 1em;
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
  background: var(--color-accent);
  width:2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;

}
.hamburger::before,
.hamburger::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before{ top:6px; }

.hamburger::after{ bottom:6px; }

/*Intro sectrion*/

.intro{
  position:relative;
}

@media (min-width: 600px){
  .intro{
    display:grid;
    margin: 0  auto;
    width:min-content;
    grid-column-gap:1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro-image{
    display:inherit;
    grid-area:img;
    min-width: 250px;
    position: relative;
  }
  .section-title{
    display:inherit;
    grid-area: title;
  }
  .section-subtitle{
    display:inherit;
    grid-area: subtitle;
    align-self:start;
    grid-column: -1 /  1;
    grid-row:2;
    text-align:right;
    position:relative;
    left:-1.5em;
    width:calc(100% + 1.5em);
  }


}

/*My Services*/
.my_services{
  background-color: var(--color-txt);
  background-image: url(images/background.jpg);
  color: var(--color-bg);
  background-size:cover;
  text-align:center;
}

.section-title-my_services{
  color: var(--color-accent);
  position: relative;
}

`.section-title-my_services::after{
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--color-bg);
  opacity:0.25;
}`

.service{
  max-width:500px;
  margin:0 auto;
}

@media (min-width: 800px){
  .services{
    display:flex;
    max-width:1000px;
    margin:0 auto;
  }
}

/* Aboute Me */

.section-title-aboutme{
  color: var(--color-accent);
  position: relative;
  text-align: center;

}

.trait{
  max-width:500px;
  margin:0 auto;
  text-align: center;
}

.button-parent{
  text-align: center;
}

.links{
  color: var(--color-accent);
}


@media (min-width: 800px){
  .about-me-body{
    display:flex;
    max-width:1000px;
    margin:0 auto;
    align-items: flex-start;
  }

  .trait + .trait{
    margin-left: 4em;
  }

  .trait{
    text-align: center;
    width:50%;
  }
}

/* Footer */
.footer{
  background:#111;
  color: var(--color-accent);
  text-align: center;
  padding:2.5em 0;
  font-size: var(--fs-h3);
}

.footer a{
  color:inherit;
  text-decoration: none;
}

.fotter-link{
  font-weight: var(--fw-bold);
}

.fotter-link:hover,
.social-list-link:hover{
  opacity: .7;
}

.fotter-link:hover{
  text-decoration: underline;
}

.social-list{
  list-style: none;
  display: flex;
  justify-content: center;
  margin:2em 0 0;
  padding:0;
}

.social-list-item{
  margin:0 .5em;
}
